@font-face {
  font-family: 'NexaThin';
  src: url('../fonts/Nexa-Thin-Italic.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/NexaRegular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/Nexa-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBlack';
  src: url('../fonts/NexaBlack.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/Nexa-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
