@font-face {
  font-family: 'NexaThin';
  src: url('../fonts/Nexa-Thin-Italic.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/Nexa-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/NexaRegular.woff');
  font-weight: normal; // 400
  font-style: normal;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/Nexa-Bold.woff');
  font-weight: 700; // bold
  font-style: normal;
}

@font-face {
  font-family: 'NexaBlack';
  src: url('../fonts/NexaBlack.woff');
  font-weight: 900;
  font-style: normal;
}

//
.app-title, .app-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: 'NexaLight', sans-serif;
  color: #FFFFFF;

  &-size {
    &--xs {
      font-size: 14px;
      line-height: 17px;
    }

    &--base {
      font-size: 14px;
      line-height: 17px;
    }

    &--sm {
      font-size: 16px;
      line-height: 19px;
    }

    &--xl {
      font-size: 18px;
      line-height: 21px;
    }

    &--lg {
      font-size: 22px;
      line-height: 25px;
    }
  }

  &-weight {
    &--bold {
      font-family: 'NexaBold', sans-serif;
    }

    &--black {
      font-family: 'NexaBlack', sans-serif;
    }
  }

  &-color {
    &--white {
      color: white;
    }

    &--primary {
      color: #7AB8E7;
    }
  }
}
